<div class="archives">
  <% page.posts.each(function(post){ %>
    <div class="archive-wrap">
      <div class="archive">
        <%- partial('post/title', {post: post, class_name: 'archive-title'}) %>
        <%- partial('post/date', {post: post, class_name: 'archive-date'}) %>
      </div>
    </div>
  <% }) %>
</div>

<% if (page.total > 1){ %>
  <div id="page-nav">
    <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>" class="page-nav-link left">Prev</a>
    <% } %>
    <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>" class="page-nav-link right">Next</a>
    <% } %>
  </div>
<% } %>

<div class="footer-share">
  <%- partial('post/share') %>
</div>