<% page.posts.each(function(post){ %>
  <%- partial('article', {post: post, index: true}) %>
<% }) %>
<% if (page.total > 1){ %>
  <div id="page-nav">
    <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>" class="page-nav-link left">Older</a>
    <% } %>
    <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>" class="page-nav-link right">Newer</a>
    <% } %>
  </div>
<% } %>