<% page.posts.each(function(post){ %>
  <div class="article">
    <div class="article-header">
      <%- partial('post/title', {post: post, class_name: 'article-title'}) %>
      <%- partial('post/date', {post: post, date_format: null}) %>
    </div>
  </div>
<% }) %>

<% if (page.total > 1){ %>
  <div id="page-nav">
    <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>" class="page-nav-link left">Prev</a>
    <% } %>
    <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>" class="page-nav-link right">Next</a>
    <% } %>
  </div>
<% } %>

<div class="footer-share">
  <%- partial('post/share') %>
</div>